<div class="container">
  <div class="row">
    <dvt-post class="col"
      autor="Sergio González" 
      titulo="Proyección de contenido en Angular">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste repudiandae quisquam excepturi hic corrupti nisi, placeat aliquam eaque provident? Quibusdam obcaecati reiciendis maxime, accusantium consectetur dolor dolorum sed culpa magnam?</p>
      <p>Numquam eius necessitatibus quibusdam quia distinctio, nihil sapiente dignissimos optio. Hic aliquid distinctio aliquam nemo tenetur voluptates sunt eveniet modi vitae, repellendus dolores cum itaque praesentium ullam, unde dignissimos ab.</p>
      <p>Quod ullam corporis quam ratione. Soluta ipsum alias harum consequatur optio, quia sit quidem aut reiciendis non architecto cumque libero nihil! Consectetur dicta facilis tempore velit assumenda omnis, beatae numquam!</p>
      <p>Voluptates sit vel doloremque iste fugiat fuga sequi quasi ipsa deleniti. Aspernatur deserunt inventore tempore repellendus alias, dicta itaque odio velit soluta omnis consectetur, eaque in laborum pariatur culpa illo!</p>
      <p>Iste est velit error explicabo rem, autem excepturi numquam necessitatibus porro assumenda! Tempore adipisci iusto alias a deleniti. Architecto itaque fugit impedit modi, nesciunt hic quae earum blanditiis culpa temporibus!</p>
  </dvt-post>
  </div>
</div>